.por{
   
height: 40px; 
}
.moto{
 height: 50px;
}
.bri{
 height: 50px;
}
.row{
    margin-top: 50px !important;
}
.bb{
    margin-top: 100px;

}
.texc{
color: #1E9ACD !important;
}
.card{
    margin-top: 50px;
}